<div class="container flex flex-col items-center justify-center">
    <h1 class="text-center text-2xl font-medium p-4">Inscription</h1>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="username" class="label">Nom d'utilisateur :</label>
            <input type="text" formControlName="username" class="input input-bordered w-full max-w-xs" required>
        </div>
        <div>
            <label for="email" class="label">Adresse e-mail :</label>
            <input type="email" id="email" formControlName="email" class="input input-bordered w-full max-w-xs"
                required>
        </div>
        <div>
            <label for="password" class="label">Mot de passe :</label>
            <input type="password" id="password" formControlName="password" class="input input-bordered w-full max-w-xs"
                required>
        </div>
        <div>
            <label for="confirm-password" class="label">Confirmer le mot de passe :</label>
            <input type="password" id="confirm-password" formControlName="confirmPassword"
                class="input input-bordered w-full max-w-xs" required>
        </div>
        <div>
            <button class="btn" type="submit">S'inscrire</button>
        </div>
    </form>
</div>