.top-bar {
    background-color: white;
    border-bottom: 1px solid black;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px;
}