<div class="container mx-auto pt-10">

        <div class="flex flex-col items-center">
                <h1 class="text-xl md:text-2xl font-bold">{{'Management.Title' |
                        translate}}</h1>

                <div class="menu menu-horizontal text-center md:text-2xl">
                        <li><a routerLink="/manage/animes" routerLinkActive="active"
                                        ariaCurrentWhenActive="page">{{'Management.NavBar.TitleAnime' |
                                        translate}}</a></li>
                        <li><a routerLink="/manage/musics" routerLinkActive="active"
                                        ariaCurrentWhenActive="page">{{'Management.NavBar.TitleMusic' |
                                        translate}}</a></li>
                        <li><a routerLink="/manage/artists" routerLinkActive="active"
                                        ariaCurrentWhenActive="page">{{'Management.NavBar.TitleArtist' |
                                        translate}}</a></li>
                        <li><a routerLink="/manage/types" routerLinkActive="active"
                                        ariaCurrentWhenActive="page">{{'Management.NavBar.TitleType' |
                                        translate}}</a></li>
                        <li><a routerLink="/manage/languages" routerLinkActive="active"
                                        ariaCurrentWhenActive="page">{{'Management.NavBar.TitleLanguage' |
                                        translate}}</a></li>
                </div>
        </div>

        <router-outlet></router-outlet>
</div>