<p *ngIf="isLoggedIn">Yeah tu es connecté</p>
<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque laudantium earum, dolor sunt accusamus
    consequuntur quasi optio harum magni nobis ipsam repudiandae corrupti perferendis dolorum, rerum maxime autem fugit?
</div>
<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque laudantium earum, dolor sunt accusamus
    consequuntur quasi optio harum magni nobis ipsam repudiandae corrupti perferendis dolorum, rerum maxime autem fugit?
</div>
<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque laudantium earum, dolor sunt accusamus
    consequuntur quasi optio harum magni nobis ipsam repudiandae corrupti perferendis dolorum, rerum maxime autem fugit?
</div>
<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque laudantium earum, dolor sunt accusamus
    consequuntur quasi optio harum magni nobis ipsam repudiandae corrupti perferendis dolorum, rerum maxime autem fugit?
</div>
<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque laudantium earum, dolor sunt accusamus
    consequuntur quasi optio harum magni nobis ipsam repudiandae corrupti perferendis dolorum, rerum maxime autem fugit?
</div>
<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque laudantium earum, dolor sunt accusamus
    consequuntur quasi optio harum magni nobis ipsam repudiandae corrupti perferendis dolorum, rerum maxime autem fugit?
</div>
<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque laudantium earum, dolor sunt accusamus
    consequuntur quasi optio harum magni nobis ipsam repudiandae corrupti perferendis dolorum, rerum maxime autem fugit?
</div>
<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque laudantium earum, dolor sunt accusamus
    consequuntur quasi optio harum magni nobis ipsam repudiandae corrupti perferendis dolorum, rerum maxime autem fugit?
</div>