fastapi==0.97.0
pydantic==1.10.9
uvicorn==0.22.0
sqlalchemy==2.0.16
pymysql==1.0.3
cryptography==40.0.2
alembic==1.11.1
passlib[bcrypt]
python-jose[cryptography]
python-multipart
fastapi-jwt-auth
firebase_admin