fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
sqlalchemy==1.4.47
pymysql==1.0.3
cryptography==40.0.2
alembic==1.10.4
passlib[bcrypt]
python-jose[cryptography]
python-multipart