<div class="flex flex-col pt-5">
    <div class="flex flex-row">
        <div class="text-center bg-blue-950">
            <h1 class="font-bold pb-5">{{ anime?.name}}</h1>
            <figure class="w-44"><img class="rounded-lg" src="{{anime?.poster_img}}" alt="{{anime?.name}}" />
            </figure>
        </div>
        <div class="pl-5 bg-red-950">
            <h2 class="font-bold pb-3">Synopsis</h2>
            <p>{{ anime?.description}}</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia provident dolore recusandae sit
                voluptates
                magni, sint tenetur dicta culpa, esse natus aliquid, accusantium corporis vitae aspernatur
                temporibus
                placeat minima eveniet?
            </p>
        </div>
    </div>

    <div class="pt-5 bg-green-950 flex flex-col">
        <h2 class="font-bold pb-3 text-center">Openings et Endings</h2>
        <div class="flex flex-col">
            <div class="flex flex-row p-4 hover:shadow-xl hover:shadow-blue-400/40 rounded-lg hover:cursor-pointer items-center"
                *ngFor="let music of musics">
                <img [src]="music.poster_img" class="rounded-full object-fill w-20 h-20" />
                <div class="pl-4">
                    <div>{{ music.name }}</div>
                    <div>{{ music.release_date | date: 'dd-MM-YYYY' }}</div>
                    <div>{{ music.type.type_name }}</div>
                    <div *ngFor="let artist of music.authors">
                        <div>{{ artist.name }}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>