<div class="container mx-auto overflow-hidden ">
    <div class="flex justify-center -z-10" *ngIf="isLoading">
        <span class="loading loading-bars loading-lg"></span>
    </div>
    <ng-container *ngIf="!isLoading">
        <div class="flex flex-row items-center pt-4">
            <button type="button" routerLink="/manage/types/create"
                class="btn cursor-pointer outline outline-1 text-center ml-2" title="Ajouter un type de musique">
                <mat-icon>add</mat-icon>
                <label>Ajouter</label>
            </button>
        </div>
        <div *ngIf="types.length == 0">Il n'y a pas de types</div>

        <div *ngIf="types.length > 0" class="h-full overflow-y-auto border mt-2">
            <table class="table table-fixed text-center font-semibold">
                <thead class="md:text-xl text-center">
                    <tr>
                        <th>Nom</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover:bg-base-300 cursor-pointer" *ngFor="let type of types">
                        <td class="overflow-hidden text-ellipsis whitespace-nowrap"
                            [routerLink]="['/manage/types', type.id]">
                            {{ type.name}}
                        </td>
                        <td class="md:text-6xl text-4xl text-center">
                            <mat-icon [inline]="true" (click)="delete(type)"> delete</mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>

</div>