<div class="container mx-auto">
    <h1 class="text-center font-bold text-2xl p-4">{{'FavoritesPage.Title' | translate}}</h1>

    <app-loader *ngIf="isLoading"></app-loader>
    <div *ngIf="!isLoading" class="h-full border border-gray-400/10 ">
        <ng-container *ngIf="musics.length ;else elseBlock">
            <div class="grid grid-cols-2 lg:grid-cols-8 p-4 gap-8">
                <div class="bg-base-100 hover:cursor-pointer rounded-lg" *ngFor="let music of musics"
                    [routerLink]="['/musics', music.id]">
                    <div class="text-center font-bold text-sm pb-4 overflow-hidden text-ellipsis whitespace-nowrap">
                        {{ music.name }}
                    </div>
                    <div class="flex justify-center text-center">
                        <img class="hover:opacity-80 rounded-3xl w-28 h-36 object-fill" [src]="music.poster_img"
                            [alt]="music.name" />
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #elseBlock>
            <div class="text-2xl p-4 text-center">{{'FavoritesPage.NoFavorites' | translate}}</div>
        </ng-template>
    </div>
</div>