<div class="container mx-auto pt-10">
    <div *ngIf="loading">Chargement en cours...</div>
    <div class="grid grid-cols-2 gap-8">
        <div class="bg-base-100 hover:cursor-pointer rounded-lg" *ngFor="let anime of animes"
            [routerLink]="['/animes', anime.id]">
            <div class="text-center font-bold text-xl pb-4">
                <div>{{ anime.name}}</div>
            </div>
            <div class="flex justify-center text-center">
                <img class="hover:shadow-xl hover:shadow-blue-400/40 rounded-3xl w-28 h-36 object-fill"
                    [src]="anime.poster_img" [alt]="anime.name" />
                <!-- <div class="synopsis overflow-auto">{{ anime.description }}</div> -->
            </div>
        </div>
    </div>
</div>