<div class="container mx-auto overflow-hidden">
    <div class="flex justify-center -z-10" *ngIf="isLoading">
        <span class="loading loading-bars loading-lg"></span>
    </div>
    <ng-container *ngIf="!isLoading">
        <div class="flex flex-row items-center pt-4">
            <button type="button" routerLink="/manage/languages/create"
                class="btn cursor-pointer outline outline-1 text-center ml-2 mr-2" title="{{'Management.Content.Language.AddLanguage.Title' |
                translate}}">
                <mat-icon>add</mat-icon>
                <label class="hidden md:inline-block">{{'Management.Content.Language.AddLanguage.Main' |
                    translate}}</label>
            </button>
        </div>
        <div *ngIf="languages.length == 0" class="text-center">{{'Management.Content.Language.NoLanguages' |
            translate}}</div>

        <div *ngIf="languages.length > 0" class="h-full overflow-y-auto">
            <table class="table table-fixed text-center font-semibold">
                <thead class="md:text-xl text-center">
                    <tr>
                        <th>{{'Management.Content.Language.Table.Code' |
                            translate}}</th>
                        <th>{{'Management.Content.Language.Table.Action' |
                            translate}}</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr class="hover:bg-base-300 cursor-pointer" [routerLink]="['/manage/languages', lang.id]"
                        *ngFor="let lang of languages">
                        <td class="overflow-hidden text-ellipsis whitespace-nowrap">
                            {{ lang.code | uppercase }}
                        </td>
                        <td class="md:text-6xl text-4xl text-center" (click)="delete(lang)">
                            <mat-icon [inline]="true"> delete</mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>

</div>