<div class="container mx-auto">
    <h1 class="md:text-xl text-center w-full border-b p-4 border-gray-400/10 font-bold">
        {{'CommunityPage.Title' | translate}}
    </h1>

    <app-loader *ngIf="isLoading"></app-loader>
    <div *ngIf="!isLoading" class="flex flex-col items-center border-l border-r border-b p-2 border-gray-400/10">
        <ng-container *ngIf="reviews.items.length > 0;else elseBlock">
            <div *ngFor="let review of reviews.items" class="border-b border-gray-400/10 w-full pb-4 mt-4">
                <div class="flex flex-row justify-start">
                    <div>
                        <img class="w-20 object-contain cursor-pointer" [routerLink]="['/profile', review.user.id]"
                            [src]="review.user.profile_picture? review.user.profile_picture : '/assets/images/default_image.jpg' " />
                    </div>
                    <div class="flex flex-col w-full pl-4">
                        <div class="flex flex-row justify-between">
                            <div class="font-bold">{{ review.user.username}}</div>
                            <div>{{ review.creation_date | date : 'mediumDate': '': getCurrentLang() }}</div>
                        </div>
                        <div class="flex flex-col items-start justify-start pt-2">
                            <h3>{{'CommunityPage.VisualNote' | translate}} :</h3>
                            <app-rating-stars [isStatic]="true" [rate]="review.note_visual*2"></app-rating-stars>
                        </div>
                        <div class="flex flex-col items-start pt-2">
                            <h3>{{'CommunityPage.MusicNote' | translate}} :</h3>
                            <app-rating-stars [isStatic]="true" [rate]="review.note_music*2"></app-rating-stars>
                        </div>
                        <div class="pt-2 italic ">{{ review.description}}</div>
                    </div>
                </div>
                <div class="pt-4 pr-4 italic flex justify-end">
                    <div class="overflow-hidden text-ellipsis whitespace-nowrap">
                        {{'CommunityPage.From' | translate}} <a class="underline"
                            [routerLink]="['/musics',review.music.id]">{{review.music.name}}</a>
                    </div>
                </div>
            </div>
            <app-pagination (onPageChange)="onPageChange($event)" [currentPage]="currentPage"
                [pagedObject]="reviews"></app-pagination>
        </ng-container>
        <ng-template #elseBlock>
            <div>{{'CommunityPage.NoReviews' | translate}} </div>
        </ng-template>
    </div>
</div>