<div class="container mx-auto pt-20 md:pt-40">
    <h1 class="text-center md:text-xl">Communautés - Tous les avis récents</h1>
    <div class="flex justify-center" *ngIf="isLoading">
        <span class="loading loading-bars loading-lg"></span>
    </div>
    <div *ngIf="!isLoading" class="container mx-auto">
        <div class="flex flex-col items-center">
            <div *ngFor="let review of reviews.items" class="pt-8 w-full">
                <div class="flex flex-row justify-start ">
                    <div class="w-14">
                        <img class="w-10 h-10 object-contain"
                            [src]="review.user.profile_picture? review.user.profile_picture : '/assets/images/default_image.jpg' " />
                    </div>
                    <div class="flex flex-col w-full">
                        <div class="flex flex-row justify-between">
                            <div class="font-bold">{{ review.user.username}}</div>
                            <div>{{ review.creation_date | date}}</div>
                        </div>
                        <div class="flex flex-col items-start pt-2">
                            <h3>Note du visuel :</h3>
                            <app-rating-stars [isStatic]="true" [rate]="review.note_visual*2"></app-rating-stars>
                        </div>
                        <div class="flex flex-col items-start pt-2">
                            <h3>Note de la musique :</h3>
                            <app-rating-stars [isStatic]="true" [rate]="review.note_music*2"></app-rating-stars>
                        </div>
                        <div class="pt-2 italic">{{ review.description}}</div>
                    </div>
                </div>
                <div class="pt-4 pr-4 italic flex justify-end">
                    <div class="overflow-hidden text-ellipsis whitespace-nowrap">
                        De <a class="underline" [routerLink]="['/musics',review.music.id]">{{review.music.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <app-pagination (onPageChange)="onPageChange($event)" [currentPage]="currentPage"
            [pagedObject]="reviews"></app-pagination>
    </div>
</div>