<div>
    <form [formGroup]="create_form" (ngSubmit)="onSubmit()">
        <img #thenBlock (click)="imageInput.click()"
            [src]="preview_image ? preview_image : '/assets/images/default_image.jpg'" alt="Image animé" />

        <label>Nom : </label>
        <input type="text" formControlName="name" />

        <label>Date de sortie : </label>
        <input type="date" formControlName="release_date" />

        <label>Anime : </label>

        <app-search-bar placeholder="Tapez l'anime" (searchEvent)="performSearchAnime($event)"></app-search-bar>

        <ng-container *ngIf="selected_anime != undefined">
            <div [style.font-weight]="500">Animé selectionné : </div>
            <div (click)="onunselectanime($event)" [id]="selected_anime.id">{{ selected_anime.name }}</div>
        </ng-container>

        <ng-container *ngIf="animes">
            <div *ngIf="animes.items.length > 0" [style.font-weight]="500">Animés trouvées : </div>
            <div *ngFor="let anime of animes.items" (click)="onselectanime(anime)">{{ anime.name }}</div>
        </ng-container>


        <label>Artistes : </label>

        <app-search-bar placeholder="Tapez l'artiste/groupe"
            (searchEvent)="performSearchArtist($event)"></app-search-bar>

        <ng-container *ngIf="selected_artists && selected_artists.length>0">
            <div [style.font-weight]="500">Artistes selectionnés : </div>
            <div (click)="onunselectartist(artist)" *ngFor="let artist of selected_artists">{{ artist.name}}</div>
        </ng-container>

        <ng-container *ngIf="artists">
            <div *ngIf="artists.items.length > 0" [style.font-weight]="500">Artistes trouvées : </div>
            <div *ngFor="let artist of artists.items" (click)="onselectartist(artist)">{{ artist.name }}</div>
        </ng-container>



        <label>Types : </label>
        <select *ngIf="types" formControlName="type_id">
            <option [ngValue]="null" disabled>Selectionnez le type</option>
            <option [ngValue]="type.id" *ngFor="let type of types">{{ type.type_name}}</option>
        </select>

        <input [hidden]="true" #imageInput type="file" (change)="processFile(imageInput)" />

        <button type="submit">Ajouter</button>
    </form>
</div>