<div class="rating rating-md rating-half">

    <ng-container *ngIf="isStatic;else dynamic">
        <input type="radio" [disabled]=isStatic class="rating-hidden -z-50" />
        <ng-container *ngFor="let num of getRange(1, maxStar)">
            <ng-container *ngIf="num % 2 == 0">
                <input type="radio" [disabled]=isStatic [checked]="toInt(rate) == num"
                    class="bg-orange-500 mask mask-star-2 mask-half-2 -z-50" />
            </ng-container>
            <ng-container *ngIf="num % 2 == 1">
                <input type="radio" [disabled]=isStatic class="bg-orange-500 mask mask-star-2 mask-half-1 -z-50"
                    [checked]="toInt(rate) == num" />
            </ng-container>
        </ng-container>
    </ng-container>

    <ng-template #dynamic>
        <input type="radio" name="radio-{{type}}" class="rating-hidden" checked />
        <ng-container *ngFor="let num of getRange(1, maxStar)">
            <ng-container *ngIf="num % 2 == 0">
                <input type="radio" name="radio-{{type}}" [value]=num [checked]="toInt(rate) == num"
                    class="bg-orange-500 mask mask-star-2 mask-half-2" (change)="onChange(getValue($event))" />
            </ng-container>
            <ng-container *ngIf="num % 2 == 1">
                <input type="radio" name="radio-{{type}}" [value]=num [checked]="toInt(rate) == num"
                    class="bg-orange-500 mask mask-star-2 mask-half-1" (change)="onChange(getValue($event))" />
            </ng-container>
        </ng-container>
    </ng-template>
</div>