<div class="container mx-auto pt-20 text-center md:pt-40">
    <h1 class="p-4">Classement des meilleurs musiques</h1>
    <div class="flex justify-center" *ngIf="loading">
        <span class="loading loading-bars loading-lg"></span>
    </div>
    <div *ngIf="!loading">
        <div class="overflow-x-auto">
            <table class="table table-zebra table-fixed text-center">
                <!-- head -->
                <thead>
                    <tr>
                        <th>Classement</th>
                        <th>Titre</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- row 1 -->
                    <tr class="cursor-pointer" *ngFor="let music of musics.items; let i = index"
                        [routerLink]="['/musics', music.id]">
                        <th>{{i+1}}</th>
                        <td>{{music.name}}</td>
                        <td>
                            <div class="flex flex-row justify-center items-center"
                                *ngIf="music.avg_note;else elseBlock">
                                <div class=" text-orange-500">
                                    <mat-icon>star</mat-icon>
                                </div>
                                <div class="pl-2">{{music.avg_note}}</div>
                            </div>
                            <ng-template #elseBlock>N/A</ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="pt-4">
                <app-pagination (onPageChange)="onPageChange($event)" [currentPage]="currentPage"
                    [pagedObject]="musics"></app-pagination>
            </div>
        </div>
    </div>
</div>