<div class="container mx-auto text-center font-bold">
    <h1 class="p-4 text-3xl">{{'MusicPage.TopMusics.Title' | translate}}</h1>

    <app-loader *ngIf="isLoading"></app-loader>
    <div *ngIf="!isLoading" class="flex flex-col items-center">
        <ng-container *ngIf="musics.items.length > 0;else elseBlock">
            <div class="overflow-x-auto">
                <table class="table table-zebra table-fixed text-center">
                    <!-- head -->
                    <thead>
                        <tr>
                            <th class="w-auto overflow-hidden text-ellipsis whitespace-nowrap">
                                {{'MusicPage.TopMusics.Table.Ranking' | translate}}</th>
                            <th>{{'MusicPage.TopMusics.Table.Title' | translate}}</th>
                            <th>{{'MusicPage.TopMusics.Table.Note' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- row 1 -->
                        <tr class="cursor-pointer" *ngFor="let music of musics.items; let i = index"
                            [routerLink]="['/musics', music.id]">
                            <th>{{i+1}}</th>
                            <td class="overflow-auto">
                                <div class="flex flex-row items-center">
                                    <img [src]="music.poster_img" class="w-12 h-12 object-contain mr-4"
                                        loading="lazy" />
                                    <label class="text-ellipsis whitespace-nowrap">
                                        {{music.name}}
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="flex flex-row justify-center items-center"
                                    *ngIf="music.avg_note;else elseBlock">
                                    <div class=" text-orange-500">
                                        <mat-icon>star</mat-icon>
                                    </div>
                                    <div class="pl-2">{{music.avg_note*2}}</div>
                                </div>
                                <ng-template #elseBlock>N/A</ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="pt-4">
                    <app-pagination (onPageChange)="onPageChange($event)" [currentPage]="currentPage"
                        [pagedObject]="musics"></app-pagination>
                </div>
            </div>
        </ng-container>
        <ng-template #elseBlock>
            <div class="text-2xl p-4">{{'MusicPage.NoMusics' | translate}}</div>
        </ng-template>
    </div>
</div>