<div class="container mx-auto flex flex-col items-center justify-center border-l border-r border-b border-gray-400/10">

    <app-loader *ngIf="isLoading"></app-loader>
    <form *ngIf="!isLoading" [formGroup]="formTypeGroup" class=" flex flex-col items-center p-10">
        <h1 class="font-bold text-lg md:text-2xl">{{'Management.Type.Translation.AddTitle' | translate}} </h1>
        <div class="w-full flex flex-col items-center mt-4 ">

            <div class="flex flex-col items-center justify-center md:flex-row mt-4">
                <label class="label">{{'Management.Type.Translation.LanguageLabel' | translate}} : </label>
                <div class="flex flex-row items-center">
                    <select class="select w-full max-w-xs !outline-none border-base-content"
                        (change)="onChange($event)">
                        <option *ngFor="let lang of languages" [value]="lang.code"
                            [selected]="formTypeGroup.get('language')?.value == lang.code">{{ lang.code |
                            uppercase}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="flex flex-col items-center justify-center md:flex-row mt-4">
                <label class="label">{{'Management.Type.Translation.TranslationLabel' | translate}} : </label>
                <div>
                    <input type="text"
                        placeholder="{{'Management.Type.Translation.TranslationPlaceholder' | translate}}"
                        formControlName="name" class="input border-base-content w-full !outline-none" />
                </div>
            </div>

            <div class="flex flex-col items-center justify-center alert alert-error mt-4"
                *ngIf="formTypeGroup.get('name')?.invalid && (formTypeGroup.get('name')?.dirty || formTypeGroup.get('name')?.touched)">
                <label *ngIf="formTypeGroup.get('name')?.errors?.['required']">
                    {{'ErrorMessage.MissingTypeName' | translate}}
                </label>
            </div>

        </div>
        <button type="submit" class="btn mt-4" (click)="onSubmit()">{{'Management.Type.AddBtn' | translate}}</button>
    </form>
</div>