<form [formGroup]="form" class="flex flex-col items-center" (ngSubmit)="onSubmit()">
    <div (click)="imageInput.click()"
        class="flex hover:bg-slate-100  border-2 border-base-300 justify-center items-center h-80 w-60">
        <ng-container *ngIf="previewImage;else elseBlock">
            <img class="h-full w-full object-cover" [src]="previewImage" alt="Image musique" />
        </ng-container>
        <ng-template #elseBlock>
            <div class="text-8xl">
                <mat-icon [inline]="true">upload</mat-icon>
            </div>
        </ng-template>
    </div>
    <div class="flex flex-col items-center alert alert-error mt-4 pb-4"
        *ngIf="form.get('poster_img')?.invalid && (form.get('poster_img')?.dirty || form.get('poster_img')?.touched)">
        <div *ngIf="form.get('poster_img')?.errors?.['required']">
            L'image d'affiche est obligatoire
        </div>
    </div>
    <label class="label mt-4">Nom : </label>
    <input class="input input-bordered w-full mt-4 !outline-none" type="text" formControlName="name"
        placeholder="Nom de la musique" />

    <div class="flex flex-col items-center alert alert-error mt-4 pb-4"
        *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)">
        <div *ngIf="form.get('name')?.errors?.['required']">
            Le nom de la musique est obligatoire
        </div>
    </div>

    <label class="label mt-4">Date de sortie : </label>
    <input class="input input-bordered w-full !outline-none mt-4" type="date" formControlName="release_date" />

    <div class="flex flex-col items-center alert alert-error mt-4 pb-4"
        *ngIf="form.get('release_date')?.invalid && (form.get('release_date')?.dirty || form.get('release_date')?.touched)">
        <div *ngIf="form.get('release_date')?.errors?.['required']">
            Le date de sortie est obligatoire
        </div>
    </div>

    <label class="label mt-4">Anime : </label>
    <app-search-bar placeholder="Tapez l'anime" [defaultValue]="form.get('selected_anime')?.value"
        (searchEvent)="performSearchAnime($event)" class="w-full"></app-search-bar>

    <div class="flex flex-col items-center alert alert-error mt-4 pb-4"
        *ngIf="form.get('selected_anime')?.invalid && (form.get('selected_anime')?.dirty || form.get('selected_anime')?.touched)">
        <div *ngIf="form.get('selected_anime')?.errors?.['required']">
            L'anime est obligatoire
        </div>
    </div>

    <ng-container *ngIf="animes">
        <div *ngFor="let anime of animes.items" (click)="onselectanime(anime)"
            class="grid h-10 bg-base-300 hover:border-2  hover:bg-base-100 hover:border-white w-full place-items-center">
            {{ anime.name }}</div>
    </ng-container>

    <label class="label mt-4">Video : </label>
    <input class="input input-bordered w-full  mt-4 !outline-none" placeholder="Identifiant de la vidéo" type="text"
        formControlName="id_video" />

    <div class="flex flex-col items-center alert alert-error mt-4 pb-4"
        *ngIf="form.get('id_video')?.invalid && (form.get('id_video')?.dirty || form.get('id_video')?.touched)">
        <div *ngIf="form.get('id_video')?.errors?.['required']">
            L'identifiant de vidéo est obligatoire
        </div>
    </div>

    <label class="label mt-4">Artistes : </label>
    <div class="p-2 flex flex-wrap justify-start w-full">
        <ng-container *ngFor="let artist of form.get('selected_artists')?.value">
            <div class="flex flex-row justify-start h-10 pl-2 mr-2 mb-2 p-4 bg-base-300 rounded-lg place-items-center"
                (click)="onunselectartist(artist)">
                <div class="flex items-center">
                    <mat-icon [inline]="true">close</mat-icon>
                </div>
                <div class="text-ellipsis overflow-hidden whitespace-nowrap">{{ artist.name}}
                </div>
            </div>
        </ng-container>
    </div>

    <app-search-bar placeholder="Tapez l'artiste/groupe" (searchEvent)="performSearchArtist($event)"
        class="w-full"></app-search-bar>

    <div class="flex flex-col items-center alert alert-error mt-4 pb-4"
        *ngIf="form.get('selected_artists')?.invalid && (form.get('selected_artists')?.dirty || form.get('selected_artists')?.touched)">
        <div *ngIf="form.get('selected_artists')?.errors?.['arrayEmpty']">
            Choisir au moins un artiste
        </div>
    </div>

    <ng-container *ngIf="artists">
        <div *ngFor="let artist of artists.items" (click)="onselectartist(artist)"
            class="grid h-10 bg-base-300 hover:border-2  hover:bg-base-100 hover:border-white w-full place-items-center">
            {{ artist.name }}</div>
    </ng-container>

    <label class="label mt-4">Types : </label>
    <select class="select select-bordered !outline-none w-full" *ngIf="types" formControlName="type_id">
        <option [ngValue]="null" disabled>Selectionnez le type</option>
        <option [ngValue]="type.id" *ngFor="let type of types">{{ type.type_name}}</option>
    </select>
    <input [hidden]="true" #imageInput type="file" (change)="processFile(imageInput)" />
    <div class="flex flex-col items-center alert alert-error mt-4 pb-4"
        *ngIf="form.get('type_id')?.invalid && (form.get('type_id')?.dirty || form.get('type_id')?.touched)">
        <div *ngIf="form.get('type_id')?.errors?.['required']">
            Le type de musique est obligatoire
        </div>
    </div>
    <button class="btn mt-4" type="submit">{{ isUpdate ? "Modifier" : "Ajouter"}}</button>
</form>