<div class="container mx-auto flex flex-col justify-center text-center pt-20 md:pt-40 h-full">
    <div class="flex justify-center" *ngIf="isLoading">
        <span class="loading loading-bars loading-lg"></span>
    </div>
    <div *ngIf="!isLoading"
        class="flex flex-col h-full w-full lg:flex-row border-l border-r border-b border-gray-400/10">
        <div class="flex flex-col items-center border-r  border-gray-400/10">
            <h1 class="text-center text-xl font-medium p-4">{{userInfo.username}}</h1>
            <div class="h-80 w-60">
                <img class="h-full w-full object-cover"
                    [src]="userInfo.profile_picture ? userInfo.profile_picture  : '/assets/images/default_image.jpg'"
                    alt="Photo de profil de l'utilisateur" />
            </div>
        </div>
        <div class="w-full flex flex-col">
            <h2 class="font-bold pt-4 w-full-2 m-4 text-start border-b border-gray-400/60">Musiques favorites</h2>
            <div class="flex flex-col lg:flex-row justify-start">
                <ng-container *ngIf="favorites.length > 0;else elseBlock">
                    <div class="flex flex-row rounded-lg p-4 items-center justify-start" *ngFor="let fav of favorites">
                        <img [src]="fav.poster_img" [routerLink]="['/musics', fav.id]"
                            class="hover:opacity-80 hover:cursor-pointer  rounded-full object-fill w-20 h-20"
                            alt="Poster du single" />
                        <div class="pl-4 w-40 md:w-full">
                            <div class="text-start overflow-hidden text-ellipsis whitespace-nowrap">{{ fav.name }}</div>
                        </div>
                    </div>
                </ng-container>
                <ng-template #elseBlock>
                    Aucune musiques ajoutées en favoris
                </ng-template>
            </div>
        </div>
    </div>

</div>