<div>
    <form [formGroup]="create_form" (ngSubmit)="onSubmit()">
        <img (click)="imageInput.click()" [src]="preview_image ? preview_image : '/assets/images/default_image.jpg'"
            alt="Image animé" />
        <label>Nom : </label>
        <input type="text" formControlName="name" />
        <label>Description : </label>
        <input type="text" formControlName="description" />
        <input [hidden]="true" #imageInput type="file" (change)="processFile(imageInput)" />
        <button type="submit">Ajouter</button>
    </form>
</div>