<div class="container mx-auto">
    <div class="flex justify-center -z-10" *ngIf="isLoading">
        <span class="loading loading-bars loading-lg"></span>
    </div>
    <ng-container *ngIf="!isLoading">
        <div class="flex flex-row items-center pt-4">
            <div class="text-4xl cursor-pointer">
                <mat-icon [inline]="true" routerLink="/manage/artists/create">add</mat-icon>
            </div>
            <app-search-bar (searchEvent)="performSearch($event)" class="w-full"></app-search-bar>
        </div>
        <div *ngIf="artists.items.length == 0">Il n'y a pas de d'artistes</div>
        <div *ngIf="artists.items.length > 0">
            <table class="table table-fixed text-justify font-semibold">
                <thead class="md:text-xl">
                    <tr>
                        <th></th>
                        <th class="overflow-hidden text-ellipsis whitespace-nowrap">Nom</th>
                        <th class="overflow-hidden text-ellipsis whitespace-nowrap">Date de création</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover:bg-base-300 cursor-pointer" [routerLink]="['/manage/artists', artist.id]"
                        *ngFor="let artist of artists.items">
                        <td class="flex justify-center items-center">
                            <div class="w-20 md:w-40 h-full">
                                <img [src]="artist.poster_img" [alt]="artist.name" />
                            </div>
                        </td>
                        <td class="overflow-hidden text-ellipsis whitespace-nowrap">{{ artist.name}} </td>
                        <td> {{artist.creation_year}}</td>
                        <td class="md:text-6xl text-4xl text-center">
                            <mat-icon [inline]="true" (click)="delete(artist)">delete</mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-pagination (onPageChange)="onPageChange($event)" [currentPage]="currentPage"
                [pagedObject]="artists"></app-pagination>
        </div>
    </ng-container>

</div>