<div class="container mx-auto">

    <app-loader *ngIf="isLoading"></app-loader>

    <ng-container *ngIf="!isLoading">
        <div class="flex flex-row items-center pt-4">
            <button type="button" routerLink="/manage/musics/create"
                class="btn cursor-pointer outline outline-1 text-center ml-2 mr-2"
                title="{{'Management.Content.Music.AddMusic.Title' | translate}}">
                <mat-icon>add</mat-icon>
                <label class="hidden md:inline-block">{{'Management.Content.Music.AddMusic.Main' | translate}}</label>
            </button>
            <app-search-bar (searchEvent)="performSearch($event)" class="w-full"></app-search-bar>
        </div>
        <div *ngIf="musics.items.length == 0">{{'Management.Content.Music.NoMusics' | translate}}</div>
        <div *ngIf="musics.items.length > 0">
            <table class="table table-fixed text-justify font-semibold">
                <thead class="md:text-xl text-center">
                    <tr>
                        <th></th>
                        <th>{{'Management.Content.Music.Table.Name' | translate}}</th>
                        <th>{{'Management.Content.Music.Table.Type' | translate}}</th>
                        <th class="overflow-hidden text-ellipsis whitespace-nowrap">
                            {{'Management.Content.Music.Table.ReleaseDate' | translate}}</th>
                        <th>{{'Management.Content.Music.Table.Action' | translate}}</th>
                    </tr>
                </thead>

                <tbody class="text-center">
                    <tr class="hover:bg-base-300 cursor-pointer" *ngFor="let music of musics.items">

                        <td class="flex justify-center items-center">
                            <div class="w-20 md:w-40 h-full" [routerLink]="['/manage/musics', music.id]">
                                <img [src]="music.poster_img" [alt]="music.name" loading="lazy" />
                            </div>
                        </td>

                        <td class="overflow-hidden text-ellipsis whitespace-nowrap">{{ music.name}} </td>

                        <td class="overflow-hidden text-ellipsis whitespace-nowrap"> {{ music.type.name }}</td>

                        <td class="overflow-hidden text-ellipsis whitespace-nowrap"> {{music.release_date |
                            date:'dd-MM-YYY'
                            }}
                        </td>

                        <td class="md:text-6xl text-4xl text-center">
                            <mat-icon [inline]="true" (click)="delete(music)">delete</mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-pagination (onPageChange)="onPageChange($event)" [currentPage]="currentPage"
                [pagedObject]="musics"></app-pagination>
        </div>
    </ng-container>

</div>