<div class="container mx-auto">
    <div class="flex justify-center" *ngIf="loading">
        <span class="loading loading-bars loading-lg"></span>
    </div>

    <div class="flex flex-row items-center pt-4">
        <div class="text-4xl">
            <mat-icon [inline]="true" routerLink="/manage/musics/create">add</mat-icon>
        </div>
        <app-search-bar placeholder="Tapez la musique que vous recherchez" (searchEvent)="performSearch($event)"
            class="w-full"></app-search-bar>
    </div>


    <div *ngIf="!loading && musics.items.length == 0">Il n'y a pas de musiques</div>
    <div *ngIf="!loading">
        <table class="table table-fixed text-center">
            <thead>
                <tr>
                    <th></th>
                    <th>Nom</th>
                    <th>Type</th>
                    <th class="overflow-hidden text-ellipsis whitespace-nowrap">Date de sortie</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr class="hover:bg-base-300" [routerLink]="['/manage/musics', music.id]"
                    *ngFor="let music of musics.items">
                    <td>
                        <div class="w-20 md:w-40 h-full">
                            <img [src]="music.poster_img" [alt]="music.name" />
                        </div>
                    </td>
                    <td class="overflow-hidden text-ellipsis whitespace-nowrap">{{ music.name}} </td>
                    <td class="overflow-hidden text-ellipsis whitespace-nowrap"> {{music.release_date | date:'dd-MM-YYY'
                        }}
                    </td>
                    <td class="overflow-hidden text-ellipsis whitespace-nowrap"> {{ music.type.type_name }}</td>
                    <td class="text-4xl text-center">
                        <mat-icon [inline]="true" (click)="delete(music)">delete</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-pagination (onPageChange)="onPageChange($event)" [currentPage]="currentPage"
            [pagedObject]="musics"></app-pagination>
    </div>
</div>