<div class="container mx-auto">
    <div class="flex justify-center" *ngIf="loading">
        <span class="loading loading-bars loading-lg"></span>
    </div>
    <div class="flex flex-row items-center pt-4">
        <div class="text-4xl">
            <mat-icon [inline]="true" routerLink="/manage/animes/create">add</mat-icon>
        </div>
        <app-search-bar placeholder="Tapez l'anime que vous recherchez" (searchEvent)="performSearch($event)"
            class="w-full"></app-search-bar>
    </div>
    <div *ngIf="!loading && animes.items.length == 0">Il n'y a pas de animes</div>

    <div *ngIf="!loading">
        <table class="table table-fixed text-center">
            <thead>
                <tr>
                    <th></th>
                    <th>Nom</th>
                    <th class="overflow-hidden text-ellipsis whitespace-nowrap">Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row" [routerLink]="['/manage/animes', anime.id]" *ngFor="let anime of animes.items">
                    <td>
                        <div class="w-20 h-full">
                            <img [src]="anime.poster_img" [alt]="anime.name" />
                        </div>
                    </td>
                    <td class="overflow-hidden text-ellipsis whitespace-nowrap">
                        {{ anime.name}}
                    </td>
                    <td class="overflow-hidden text-ellipsis whitespace-nowrap">
                        {{ anime.description}}
                    </td>
                    <td class="text-4xl text-center">
                        <mat-icon [inline]="true" (click)="delete(anime)"> delete</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-pagination (onPageChange)="onPageChange($event)" [currentPage]="currentPage"
            [pagedObject]="animes"></app-pagination>
    </div>
</div>