<form [formGroup]="form" class="flex flex-col items-center" (ngSubmit)="onSubmit()">
    <div (click)="imageInput.click()"
        class="flex hover:bg-slate-100  border-2 border-base-300 justify-center items-center h-80 w-60">
        <ng-container *ngIf="previewImage;else elseBlock">
            <img class="h-full w-full object-cover" [src]="previewImage" alt="Image animé" />
        </ng-container>
        <ng-template #elseBlock>
            <div class="text-8xl">
                <mat-icon [inline]="true">upload</mat-icon>
            </div>
        </ng-template>
    </div>
    <div class="w-full flex flex-col items-center">
        <label class="label mt-4">Nom : </label>
        <input type="text" placeholder="Nom de l'animé" formControlName="name"
            class="input input-bordered w-full mt-4 !outline-none" />
        <div class="flex flex-col items-center alert alert-error mt-4 pb-4"
            *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)">
            <div *ngIf="form.get('name')?.errors?.['required']">
                Le nom est obligatoire
            </div>
        </div>
        <label class="label mt-4">Description : </label>
        <textarea class="textarea textarea-bordered w-full mt-4 !outline-none" placeholder="Description de l'animé"
            formControlName="description"></textarea>
        <div class="flex flex-col items-center alert alert-error mt-4 pb-4"
            *ngIf="form.get('description')?.invalid && (form.get('description')?.dirty || form.get('description')?.touched)">
            <div *ngIf="form.get('description')?.errors?.['required']">
                La description est obligatoire
            </div>
        </div>
    </div>
    <input hidden="true" #imageInput type="file" (change)="processFile(imageInput)" />
    <button type="submit" class="btn mt-4">{{ isUpdate ? "Modifier" :"Ajouter"}}</button>
</form>