<div class="container flex flex-col justify-center text-center pt-20 md:pt-40 h-full">
    <div class="flex justify-center" *ngIf="isLoading">
        <span class="loading loading-bars -z-10 loading-lg"></span>
    </div>
    <div *ngIf="!isLoading" class="flex flex-col items-center h-full border-l border-r border-b border-gray-400/10">
        <h1 class="text-center text-2xl font-medium p-4">Informations</h1>
        <form [formGroup]="updateForm" class="md:w-1/2 flex flex-col items-center" (ngSubmit)="onSubmit()">
            <div (click)="imageInput.click()"
                class="flex hover:bg-slate-100  border-2 border-base-content justify-center items-center h-80 w-60">
                <ng-container *ngIf="previewImage;else elseBlock">
                    <img class="h-full w-full object-cover" [src]="previewImage" alt="Image profil" />
                </ng-container>
                <ng-template #elseBlock>
                    <div class="text-8xl">
                        <mat-icon [inline]="true">upload</mat-icon>
                    </div>
                </ng-template>
            </div>

            <label for="username" class="label">Nom d'utilisateur :</label>
            <input type="text" formControlName="username" class="input border-base-content w-full" required>
            <div class="flex flex-col items-center alert alert-error mt-4 pb-4"
                *ngIf="updateForm.get('username')?.invalid && (updateForm.get('username')?.dirty || updateForm.get('username')?.touched)">
                <div *ngIf="updateForm.get('username')?.errors?.['required']">
                    Le nom d'utilisateur est obligatoire
                </div>
                <div *ngIf="updateForm.get('username')?.errors?.['minlength']">
                    Le nom d'utilisateur doit avoir au minimum 4 caractères
                </div>
            </div>
            <label for="email" class="label">Adresse e-mail :</label>
            <input type="email" id="email" formControlName="email" class="input border-base-content w-full " required>
            <div class="flex flex-col items-center alert alert-error mt-4 pb-4"
                *ngIf="updateForm.get('email')?.invalid && (updateForm.get('email')?.dirty || updateForm.get('email')?.touched)">
                <div *ngIf="updateForm.get('email')?.errors?.['email']">
                    L'email doit être avec le format d'email
                </div>
                <div *ngIf="updateForm.get('email')?.errors?.['required']">
                    L'email est obligatoire
                </div>
            </div>
            <label for="password" class="label">Mot de passe :</label>
            <input type="password" id="password" formControlName="password" class="input border-base-content w-full"
                required>
            <div class="flex flex-col items-center alert alert-error mt-4 pb-4"
                *ngIf="updateForm.get('password')?.invalid && (updateForm.get('password')?.dirty || updateForm.get('password')?.touched)">
                <div *ngIf="updateForm.get('password')?.errors?.['required']">
                    Le mot de passe est obligatoire
                </div>
            </div>

            <label for="confirm-password" class="label">Confirmer le mot de passe :</label>
            <input type="password" id="confirm-password" formControlName="confirmPassword"
                class="input border-base-content w-full" required>

            <div class="flex flex-col items-center alert alert-error mt-4 pb-4"
                *ngIf="updateForm.get('confirmPassword')?.invalid && (updateForm.get('confirmPassword')?.dirty || updateForm.get('confirmPassword')?.touched)">
                <div *ngIf="updateForm.get('confirmPassword')?.errors?.['required']">
                    La confirmation du mot de passe est obligatoire
                </div>
            </div>
            <div class="flex flex-col items-center alert alert-error mt-4 pb-4"
                *ngIf="updateForm.get('confirmPassword')?.dirty && updateForm?.errors?.['notmatched']">
                Les deux mot de passe doivent être identiques
            </div>

            <button class="btn m-4" type="submit">Valider</button>

            <input [hidden]="true" #imageInput type="file" (change)="processFile(imageInput)" />
        </form>
    </div>

</div>