<div class="container flex flex-col justify-center text-center pt-20 md:pt-40 h-full">
    <div class="flex justify-center" *ngIf="isLoading">
        <span class="loading loading-bars loading-lg"></span>
    </div>
    <div *ngIf="!isLoading" class="flex flex-col items-center h-full border-l border-r border-b border-gray-400/10">
        <h1 class="text-center text-2xl font-medium p-4">Informations</h1>
        <form [formGroup]="updateForm" class="md:w-1/2 flex flex-col items-center" (ngSubmit)="onSubmit()">
            <div (click)="imageInput.click()"
                class="flex hover:bg-slate-100  border-2 border-base-300 justify-center items-center h-80 w-60">
                <ng-container *ngIf="previewImage;else elseBlock">
                    <img class="h-full w-full object-cover" [src]="previewImage" alt="Image profil" />
                </ng-container>
                <ng-template #elseBlock>
                    <div class="text-8xl">
                        <mat-icon [inline]="true">upload</mat-icon>
                    </div>
                </ng-template>

            </div>

            <label for="username" class="label">Nom d'utilisateur :</label>
            <input type="text" formControlName="username" class="input input-bordered w-full" required>

            <label for="email" class="label">Adresse e-mail :</label>
            <input type="email" id="email" formControlName="email" class="input input-bordered w-full " required>

            <label for="password" class="label">Mot de passe :</label>
            <input type="password" id="password" formControlName="password" class="input input-bordered w-full"
                required>

            <label for="confirm-password" class="label">Confirmer le mot de passe :</label>
            <input type="password" id="confirm-password" formControlName="confirmPassword"
                class="input input-bordered w-full" required>

            <button class="btn m-4" type="submit">Valider</button>

            <input [hidden]="true" #imageInput type="file" (change)="processFile(imageInput)" />
        </form>
    </div>

</div>