<div class="container flex flex-col justify-center text-center">

    <app-loader *ngIf="isLoading"></app-loader>
    <div *ngIf="!isLoading" class="flex flex-col items-center h-full border-l border-r border-b border-gray-400/10">
        <h1 class="text-center text-2xl font-medium p-4">{{'ProfilePage.Title' | translate}}</h1>
        <form [formGroup]="updateForm" class="md:w-1/2 flex flex-col items-center" (ngSubmit)="onSubmit()">
            <div (click)="imageInput.click()"
                class="flex hover:bg-slate-100  border-2 border-base-content justify-center items-center h-80 w-60">
                <ng-container *ngIf="previewImage;else elseBlock">
                    <img class="h-full w-full object-cover" [src]="previewImage" alt="Image profil" />
                </ng-container>
                <ng-template #elseBlock>
                    <div class="text-8xl">
                        <mat-icon [inline]="true">upload</mat-icon>
                    </div>
                </ng-template>
            </div>

            <label for="username" class="label">{{'Credentials.Username' | translate}} :</label>
            <div>
                <input type="text" formControlName="username"
                    placeholder="{{'Credentials.UsernamePlaceholder' | translate}}"
                    class="input border-base-content w-full" required>
                <div class="flex flex-col items-center alert alert-error mt-4 pb-4"
                    *ngIf="updateForm.get('username')?.invalid && (updateForm.get('username')?.dirty || updateForm.get('username')?.touched)">
                    <div *ngIf="updateForm.get('username')?.errors?.['required']">
                        {{'ErrorMessage.MissingUsername' | translate}}
                    </div>
                    <div *ngIf="updateForm.get('username')?.errors?.['minlength']">
                        {{'ErrorMessage.UsernameTooShort' | translate}}
                    </div>
                </div>
            </div>

            <label for="email" class="label">{{'Credentials.MailAddress' | translate}} :</label>
            <div>
                <input type="email" id="email" formControlName="email"
                    placeholder="{{'Credentials.MailPlaceholder' | translate}}"
                    class="input border-base-content w-full " required>
                <div class="flex flex-col items-center alert alert-error mt-4 pb-4"
                    *ngIf="updateForm.get('email')?.invalid && (updateForm.get('email')?.dirty || updateForm.get('email')?.touched)">
                    <div *ngIf="updateForm.get('email')?.errors?.['email']">
                        {{'ErrorMessage.EmailFormat' | translate}}
                    </div>
                    <div *ngIf="updateForm.get('email')?.errors?.['required']">
                        {{'ErrorMessage.MissingEmail' | translate}}
                    </div>
                </div>
            </div>
            <label for="password" class="label">{{'Credentials.Password' | translate}} :</label>
            <div>
                <input type="password" id="password" placeholder="{{'Credentials.PasswordPlaceholder' | translate}}"
                    formControlName="password" class="input border-base-content w-full">
                <div class="flex flex-col items-center alert alert-error mt-4 pb-4"
                    *ngIf="updateForm.get('password')?.invalid && (updateForm.get('password')?.dirty || updateForm.get('password')?.touched)">
                    <div *ngIf="updateForm.get('password')?.errors?.['required']">
                        {{'ErrorMessage.MissingPassword' | translate}}
                    </div>
                </div>
            </div>

            <label for="confirm-password" class="label">{{'Credentials.ConfirmPassword' | translate}} :</label>
            <div>
                <input type="password" id="confirm-password"
                    placeholder="{{'Credentials.ConfirmPasswordPlaceholder' | translate}}"
                    formControlName="confirmPassword" class="input border-base-content w-full">

                <div class="flex flex-col items-center alert alert-error mt-4 pb-4"
                    *ngIf="updateForm.get('confirmPassword')?.invalid && (updateForm.get('confirmPassword')?.dirty || updateForm.get('confirmPassword')?.touched)">
                    <div *ngIf="updateForm.get('confirmPassword')?.errors?.['required']">
                        {{'ErrorMessage.MissingConfPassword' | translate}}
                    </div>
                </div>
                <div class="flex flex-col items-center alert alert-error mt-4 pb-4"
                    *ngIf="updateForm.get('confirmPassword')?.dirty && updateForm?.errors?.['notmatched']">
                    {{'ErrorMessage.NotMatchingPassword' | translate}}
                </div>
            </div>

            <button class="btn m-4" type="submit">{{'ProfilePage.ValidBtn' | translate}}</button>

            <input [hidden]="true" #imageInput type="file" (change)="processFile(imageInput)" />
        </form>
    </div>

</div>