<header class="sticky top-0 w-full">
    <div class="navbar p-1 bg-base-300">
        <div class="container">
            <div class="flex-1">
                <a routerLink="/" class="btn btn-ghost normal-case text-xl">MyAniSongList</a>
            </div>
            <app-language-drop-down [languages]="languages"
                (languageSelected)="onLanguageSelect($event)"></app-language-drop-down>

            <div class="hidden sm:block flex-none gap-2">
                <ng-container *ngIf="isLoggedIn();else elseBlock">
                    <div tabindex="0" class="dropdown dropdown-end border rounded-lg border-base-200 hover:bg-base-300">
                        <div class="flex flex-row items-center cursor-pointer">
                            <label class="btn btn-ghost btn-circle avatar">
                                <div class="w-10 rounded-full">
                                    <img [src]="user_pfp ? user_pfp : '/assets/images/default_image.jpg'" />
                                </div>
                            </label>

                            <label class="font-bold capitalize">{{username}}</label>
                            <div class="text-2xl pt-2">
                                <mat-icon [inline]="true">expand_more</mat-icon>
                            </div>
                        </div>
                        <ul tabindex="0"
                            class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                            <li><a routerLink="/editProfile">{{'TopBar.Profile' | translate}}</a></li>
                            <li><a routerLink="/favorites">{{'TopBar.Favorites' | translate}}</a></li>
                            <li *ngIf="isManager()"> <a routerLink="/manage">{{'TopBar.Management' | translate}}</a>
                            </li>
                            <li (click)="logout()" class="flex flex-row items-center">
                                <a class="pl-2">
                                    <div class="text-2xl">
                                        <mat-icon [inline]="true">logout</mat-icon>
                                    </div>
                                    {{'TopBar.LogOut' | translate}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </ng-container>
                <ng-template #elseBlock>
                    <ul tabindex="0" class="flex flex-row p-2 ">
                        <li><a routerLink="/register">{{'TopBar.Register' | translate}}</a></li>
                        <li><a routerLink="/login">{{'TopBar.LogIn' | translate}}</a></li>
                    </ul>
                </ng-template>
            </div>
        </div>


        <div class="sm:hidden text-3xl flex items-center pr-3">
            <mat-icon (click)="toggleSearchBar()" [inline]="true">search</mat-icon>
        </div>
        <div *ngIf="isSearchBarOpen" class="block fixed z-50 w-full top-16 h-full bg-black/20">
            <div class="w-full join">
                <select class="select border-base-content join-item !outline-none grow w-1/2" [(ngModel)]="category">
                    <option value="musics">{{'NavigationBar.DropDownCategory.Anime' | translate}}</option>
                    <option value="artists">{{'NavigationBar.DropDownCategory.Artist' | translate}}</option>
                    <option value="animes">{{'NavigationBar.DropDownCategory.Music' | translate}}</option>
                    <option value="profile">{{'NavigationBar.DropDownCategory.User' | translate}}</option>
                </select>
                <div class="w-full h-full">
                    <app-search-bar (searchEvent)="performSearch($event)"></app-search-bar>
                </div>
            </div>
            <div *ngIf="isLoading">
                <app-loader *ngIf="isLoading"></app-loader>
            </div>
            <ng-container *ngIf="!isLoading">
                <div class="flex flex-col bg-base-200" *ngFor="let item of result_search">
                    <div (click)="goToItem(item.id)" class="flex flex-row items-center cursor-pointer">
                        <img [src]="item.poster_img ? item.poster_img : item.profile_picture ? item.profile_picture : '/assets/images/default_image.jpg'"
                            class="w-14 h-14 object-fill rounded-full" />
                        <div class="pl-2">{{ item.name ? item.name : item.username}}</div>
                    </div>
                </div>
            </ng-container>

        </div>

        <div class="burger-menu sm:hidden">
            <div class="text-3xl flex items-center" (click)="toggleMenu()">
                <mat-icon [inline]="true">{{!isMenuOpen ? "menu" : "close"}}</mat-icon>
            </div>
            <ul *ngIf="isMenuOpen" class="block fixed list-none top-16 h-full -left-0 w-full bg-base-100">
                <ng-container *ngIf="isLoggedIn();then thenBlock; else elseBlock"></ng-container>
                <ng-template #thenBlock>
                    <ul tabindex="0" class="collapse collapse-arrow">
                        <input type="checkbox" />
                        <li class="flex items-center collapse-title">
                            <img class="w-10 h-10 pr-2 object-contain"
                                [src]="user_pfp ? user_pfp : '/assets/images/default_image.jpg' " />
                            <div class="font-bold">{{username}}</div>
                        </li>
                        <ul class="collapse-content p-0">
                            <li><a routerLink="/editProfile">{{'TopBar.Profile' | translate}}</a></li>
                            <li><a routerLink="/favorites">{{'TopBar.Favorites' | translate}}</a></li>
                        </ul>
                    </ul>
                </ng-template>
                <ng-template #elseBlock>
                    <li><a routerLink="/register">{{'TopBar.Register' | translate}}</a></li>
                    <li><a routerLink="/login">{{'TopBar.LogIn' | translate}}</a></li>
                </ng-template>
                <li><a routerLink="/animes">{{'NavigationBar.Animes' | translate}}</a></li>
                <li><a routerLink="/artists">{{'NavigationBar.Artists' | translate}}</a></li>
                <ul tabindex="0" class="collapse collapse-arrow">
                    <input type="checkbox" />
                    <li class="flex items-center collapse-title">
                        <a>{{'NavigationBar.Musics.Nav' | translate}}</a>
                    </li>
                    <ul class="collapse-content p-0">
                        <li><a routerLink="/musics">{{'NavigationBar.Musics.MusicsList' | translate}}</a></li>
                        <li><a routerLink="/musics/ranking">{{'NavigationBar.Musics.Ranking' | translate}}</a></li>
                    </ul>
                </ul>

                <li><a routerLink="/community">{{'NavigationBar.Community' | translate}}</a></li>
                <ng-container *ngIf="isLoggedIn()">
                    <li *ngIf="isManager()"> <a routerLink="/manage">{{'TopBar.Management' | translate}}</a> </li>
                    <li (click)="logout()" class="flex flex-row items-center">
                        <div class="text-2xl">
                            <mat-icon [inline]="true">logout</mat-icon>
                        </div>
                        <a class="pl-2">{{'TopBar.LogOut' | translate}}</a>
                    </li>
                </ng-container>
            </ul>
        </div>

    </div>
    <div class="hidden sm:flex bg-base-100 flex-row container justify-between">
        <ul class="flex flex-row">
            <li class="!p-4"><a routerLink="/animes">{{'NavigationBar.Animes' | translate}}</a></li>
            <li class="!p-4"><a routerLink="/artists">{{'NavigationBar.Artists' | translate}}</a></li>
            <li class="relative cursor-pointer  !p-4 hover:bg-base-300">
                <a>{{'NavigationBar.Musics.Nav' | translate}}</a>
                <ul class="hidden absolute pt-2 left-0 w-40">
                    <li class="bg-base-100 hover:bg-base-300"><a
                            routerLink="/musics">{{'NavigationBar.Musics.MusicsList' | translate}}</a></li>
                    <li class="bg-base-100 hover:bg-base-300"><a
                            routerLink="/musics/ranking">{{'NavigationBar.Musics.Ranking' | translate}}</a></li>
                </ul>
            </li>

            <li class="!p-4"><a routerLink="/community">{{'NavigationBar.Community' | translate}}</a></li>
        </ul>
        <div class="pt-2 pb-2">
            <div class="flex flex-row ">
                <select class="select mr-4 !outline-none border-base-content" [(ngModel)]="category">
                    <option value="musics">{{'NavigationBar.DropDownCategory.Music' | translate}}</option>
                    <option value="artists">{{'NavigationBar.DropDownCategory.Artist' | translate}}</option>
                    <option value="animes">{{'NavigationBar.DropDownCategory.Anime' | translate}}</option>
                    <option value="profile">{{'NavigationBar.DropDownCategory.User' | translate}}</option>
                </select>
                <app-search-bar (searchEvent)="performSearch($event)"></app-search-bar>
            </div>
            <div *ngIf="isLoading">
                <div class="flex justify-center" *ngIf="isLoading">
                    <span class="loading loading-bars loading-sm"></span>
                </div>
            </div>
            <ng-container *ngIf="!isLoading">
                <div class="absolute w-80 mt-2 bg-base-200" *ngFor="let item of result_search">
                    <div (click)="goToItem(item.id)" class="flex flex-row items-center cursor-pointer">
                        <img [src]="item.poster_img ? item.poster_img : item.profile_picture ? item.profile_picture : '/assets/images/default_image.jpg'"
                            class="w-14 h-14 object-fill rounded-full" />
                        <div class="pl-2">{{ item.name ? item.name : item.username}}</div>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>
</header>