<div class="fixed top-0 w-full">
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a routerLink="/" class="btn btn-ghost normal-case text-xl">MyAniSongList</a>
        </div>
        <div class="sm:hidden text-3xl flex items-center pr-3">
            <mat-icon (click)="toggleSearchBar()" [inline]="true">search</mat-icon>
        </div>
        <div *ngIf="isSearchBarOpen" class="block fixed z-50 w-full top-16 h-full bg-black/20">
            <div class="flex w-full">
                <select class="select !outline-none rounded-none w-1/2" [(ngModel)]="category">
                    <option value="musics">Musique</option>
                    <option value="artists">Artiste</option>
                    <option value="animes">Anime</option>
                </select>
                <app-search-bar (searchEvent)="performSearch($event)"></app-search-bar>
            </div>
            <div class="flex flex-col bg-base-200" *ngFor="let item of result_search">
                <div (click)="goToItem(item.id)" class="flex flex-row items-center">
                    <img src="{{item.poster_img}}" class="w-14 h-14 object-fill rounded-full" />
                    <div class="pl-2">{{ item.name}}</div>
                </div>
            </div>
        </div>

        <div class="burger-menu sm:hidden" [class.open]="isMenuOpen" (click)="toggleMenu()">
            <div class="text-3xl flex items-center">
                <mat-icon [inline]="true">{{!isMenuOpen ? "menu" : "close"}}</mat-icon>
            </div>
            <ul *ngIf="isMenuOpen" class="block fixed list-none top-16 h-full -left-0 w-full bg-base-100">
                <ng-container *ngIf="isLoggedIn();then thenBlock; else elseBlock"></ng-container>
                <ng-template #thenBlock>
                    <li><a routerLink="/profile">Mon profil</a></li>
                </ng-template>
                <ng-template #elseBlock>
                    <li><a routerLink="/register">S'inscrire</a></li>
                    <li><a routerLink="/login">Se connecter</a></li>
                </ng-template>
                <li><a routerLink="/animes">Animes</a></li>
                <li><a routerLink="/artists">Artistes</a></li>
                <li><a routerLink="/musics">Musiques</a></li>
                <li><a routerLink="/community">Communauté</a></li>
                <ng-container *ngIf="isLoggedIn()">
                    <li> <a *ngIf="isManager()" routerLink="/manage">Gestion</a> </li>
                    <li (click)="logout()" class="flex flex-row items-center">
                        <div class="text-2xl">
                            <mat-icon [inline]="true">logout</mat-icon>
                        </div>
                        <a class="pl-2">Se déconnecter</a>
                    </li>
                </ng-container>
            </ul>
        </div>

        <div class="hidden flex-none gap-2">
            <ul tabindex="0" class="flex flex-row mt-3 p-2 shadow w-52">
                <li><a routerLink="/register">S'inscrire</a></li>
                <li><a routerLink="/login">Se connecter</a></li>
            </ul>
        </div>
    </div>
    <div class="hidden pb-3  sm:flex bg-base-100 flex-row items-center justify-between">
        <div>
            <ul tabindex="0" class="flex flex-row mt-3 p-2">
                <li><a routerLink="/animes">Animes</a></li>
                <li><a routerLink="/artists">Artistes</a></li>
                <li><a routerLink="/musics">Musiques</a></li>
                <li><a routerLink="/community">Communauté</a></li>
            </ul>
        </div>
        <div class="pr-14 w-96">
            <div class="flex flex-row ">
                <select class="select !outline-none rounded-none" [(ngModel)]="category">
                    <option value="musics">Musique</option>
                    <option value="artists">Artiste</option>
                    <option value="animes">Anime</option>
                </select>
                <app-search-bar (searchEvent)="performSearch($event)"></app-search-bar>
            </div>
            <div class="absolute w-80 mt-2 bg-base-200" *ngFor="let item of result_search">
                <div (click)="goToItem(item.id)" class="flex flex-row items-center">
                    <img src="{{item.poster_img}}" class="w-14 h-14 object-fill rounded-full" />
                    <div class="pl-2">{{ item.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>