<form class="flex flex-col items-center p-10" (ngSubmit)="onSubmit()">

    <div class="font-bold text-lg md:text-2xl">{{isUpdate ? "Modifier une " :"Ajouter une "}} langue </div>
    <div class="w-full flex flex-col items-center md:flex-row mt-4">
        <label class="label mt-4">Langue : </label>
        <div>
            <input type="text" placeholder="Nom de la langue" [formControl]="langName"
                class="input border-base-content w-full mt-4 !outline-none" />
        </div>

    </div>
    <div class="flex flex-col items-center alert alert-error mt-4 pb-4"
        *ngIf="langName?.invalid && (langName?.dirty || langName?.touched)">
        <label *ngIf="langName?.errors?.['required']">
            Le nom est obligatoire
        </label>
    </div>
    <button type="submit" class="btn mt-4">{{ isUpdate ? "Modifier" :"Ajouter"}}</button>
</form>